@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RechargeApp.Models.User

@{
	ViewData["Title"] = "Login";
}
<style>
	body {
		font-family: Arial, Helvetica, sans-serif;
		background-color: #f2f2f2;
	}

	.container {
		background-color: #ffffff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		margin: 0 auto;
		width: 400px;
		margin-top: 50px;
	}

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	input[type=text], input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	button[type=submit] {
		background-color: #4CAF50;
		color: white;
		padding: 12px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		width: 100%;
	}

		button[type=submit]:hover {
			background-color: #45a049;
		}

	.cancelbtn {
		width: auto;
		padding: 10px 18px;
		background-color: #f44336;
	}

	.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
	}

	img.avatar {
		width: 40%;
		border-radius: 50%;
	}

	.container form {
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 20px;
	}

	span.psw {
		float: right;
		padding-top: 16px;
	}
</style>


	
	<form action="@Url.Action("Login", "home")" method="post">
		
		<label for="phone"><b>Phone Number</b></label>
	<input type="text" placeholder="Enter Phone Number" name="PhoneNumber" asp-for="PhoneNumber" required>

		<label for="password"><b>Password</b></label>
		<input type="password" placeholder="Enter Password" name="password" asp-for="password" required>

		<button type="submit">Login</button>

	<a class="btn btn-primary"  asp-action="SignUp" asp-controller="Home">Sign Up</a>

	</form>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}